@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

header {
  background: yellow;
}

.header-text {
  display: inline-block;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 2em;
  margin-left: 5%;
}

header a:link{
  text-decoration: none;
  color: navy;
}

header a:visited{
  text-decoration: none;
  color: navy;
}

header nav {
  float: right;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 2em;
  margin-right: 5%;
}

/*header ul {
  list-style: none;
  float: right;
  position: absolute;
  top: 0;
  right: 50px;
}*/

header li {
  float: left;
  list-style: none;
  margin-right: 20px;
}

main section:first-of-type {
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40em;
}

main #hero-text {
  position: absolute;
  transform: translate(-50%,-50%);
  text-align: center;
  left: 50%;
  top: 340px;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 5em;
  color: navy;
}

main section:nth-of-type(2) {
  padding: 3em;
  margin-left: 10%;
}

main section:nth-of-type(2) h2 {
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 3em;
  color: navy;
  padding: 0;
  margin: 0;
}

main section:nth-of-type(2) article {
  border: solid;
  border-radius: 10px;
  display: inline-block;
  height: 350px;
  width: 250px;
  margin: 2%;
  text-align: center;
}

main section:last-of-type h2 {
  text-align: center;
  padding: 10%;
  font-size: 3em;
}

main article h3 {
  text-align: center;
  border-bottom: solid;
  height: 50px;
}

main article p {
  border-bottom: solid transparent;
  height: 160px;
  text-align: justify;
  margin: 10%;
}

main article a {
  border: solid;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 22%;
}

main section h2 {
  text-align: center;
}

main section:nth-of-type(3) {
  border: solid;
  display: inline-block;
  /*width: 30%;*/
}

main section:nth-of-type(3) > * {
  width: 30%;
  text-align: justify;
  margin-left: 15%;
  /*float: left;*/
  /*display: inline-block;*/
}

main section:nth-of-type(3) h2 {
  /*float: left;*/
}

main section:nth-of-type(3) p {
  /*float: left;*/
}

main section:nth-of-type(3) img {
  border: solid;
  /*float: right;*/
  /*clear: both; */
  /*display: inline-block;*/
}

main section:last-of-type {
  background-image: url(../assets/everybody.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40em;
}

main section:last-of-type h2 {
  padding: 25%;
  margin: 0;
  font-family: 'Baloo Bhaina', cursive;
  color: yellow;
}

footer {
  background: yellow;
}

footer div {
  font-size: 10px;
  display: inline-block;
  text-align: justify;
  width: 30%;
  margin-left: 15%;
}

footer nav {
  display: inline-block;
  float: right;
  margin-right: 45%;
}

footer a:link {
  text-decoration: none;
}
