header {
  position: relative;
  left: 50px;
  font-size: 20px;
  width: 95%;
  }

.header-text {
  display: inline-block;
}

header a:link{
  text-decoration: none;
  color: black;
}

header nav {
  display: inline-block;
}

header ul {
  list-style: none;
  float: right;
  position: absolute;
  top: 0;
  right: 50px;
}

header li {
  float: left;
  list-style: none;
  margin: 10px;
}

main {
  /*top: 10px*/
}

main #hero {
  border: solid;
  max-width: 100%;
  display: inline-block;
  position: relative;
}

main #hero-text {
  position: absolute;
  display: block;
}
